:root {
  --max-width: 1000px;
  --font-main: "Open Sans", sans-serif;
  --title-font-size: min(4em, 9vw);

  --even-color: rgb(0, 0, 0);
  --vague-even-color: rgb(0, 0, 0, 0.4);
  --odd-color: rgb(255, 255, 255);
  --vague-odd-color: rgb(255, 255, 255, 0.4);
  --font-standard-size: min(1em, 4vw);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--even-color);
  color: var(--odd-color);
  margin: 0 2px 0 2px;
  font-family: var(--font-main);
  image-rendering: pixelated;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
