.top-half {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    var(--even-color) 50%,
    var(--odd-color) 50%
  );
  width: 100%;
}

.bottom-half {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
  font-family: var(--font-main);
  font-size: 1.5em;
  clear: both;
}

.relative-container {
  position: relative;
}

.header-container {
  position: relative;
  margin-bottom: calc(var(--title-font-size) * 1.5);
  margin-top: 0.8rem;
}

.title {
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    -90deg,
    var(--even-color) 50%,
    var(--odd-color) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: var(--title-font-size);
  z-index: 8;
}

.right-header {
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 10;
}

.right-header a {
  color: var(--semi-even-color);
  text-decoration: none;
  font-size: 1em;
}

.right-header a:hover {
  background: var(--even-color);
  color: var(--odd-color);
}

.out-of-gamut-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-even-color);
  z-index: 1;
  pointer-events: none;
}

.centering-container {
  text-align: center;
}

.transition-button {
  font-weight: bold;
  font-size: 1.25em;
  border: solid 2px var(--odd-color);
  padding: 0.1em 0.5em 0.2em 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  background: inherit;
  color: inherit;
}

.transition-button:active {
  background: var(--odd-color);
  color: var(--even-color);
}

.footer {
  flex-grow: 0;
  position: relative;
  height: 2.5vh;
  width: 100%;
}

.evaluation {
  font-size: 1.75rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
}
