dl.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  margin-right: auto;
  margin-left: auto;
  user-select: none;
}

dl.row dt {
  width: 10%;
  font-weight: bold;
  margin-right: 0.5em;
}

dl.row dd {
  width: 80%;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.selected {
  background: var(--odd-color);
  color: var(--even-color);
}

.horizontal-table {
  user-select: none;
  border: solid 2px var(--odd-color);
  border-collapse: collapse;
  text-align: center;
}

.horizontal-table td {
  cursor: pointer;
  border: solid 2px white;
  width: 3em;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  float: left;
  width: 70%;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1em;
  background: var(--odd-color);
  outline: none;
  appearance: none;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--even-color);
  border: 0;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--even-color);
  border: 0;
  cursor: pointer;
}
